body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Login/Signup Page */

.login-text {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #31b0d5;
    border-radius: 10px;
    text-align: center;
}

.auth-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.auth-container button {
    width: 95%;
    padding: 10px;
    background-color: #5bc0de;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #31b0d5;
}

.auth-container a {
    color: #5bc0de;
    text-decoration: none;
}

/* Dashboard */

.container {
    display: flex;
}

.sidebar {
    background-color: #123456;
    width: 250px;
    height: 100vh;
    padding: 20px;
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    color: white;
}

.balance { background-color: #5bc0de; }
.income { background-color: #5cb85c; }
.expense { background-color: #d9534f; }

.quick-add .btn {
    width: 100%;
    margin: 5px 0;
}

/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */